*, *:before, *:after{
    box-sizing: border-box ;
    direction: rtl;
    font-family: Tahoma, Arial, "sans serif";
}

html{
    
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
%clearfix {
    &::after{
        content: '';
        clear:both;
        display: table;
    }
}

%no-select {
	user-select: none;
	cursor: default;
}
