@charset "UTF-8";

*,
*:before,
*:after {
  box-sizing: border-box;
  direction: rtl;
  font-family: Tahoma, Arial, "sans serif";
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.manage-users .body .details .pagination::after,
.manage-users .body .details::after,
.manage-users .body .users-list .user-item::after,
.manage-users .body .search-area .input-area::after,
.manage-users .body .search-area::after,
.manage-users::after,
.cabinet-status::after,
.recharge_card::after,
.register_new form .actionarea::after,
.register_new form .textareagroup::after,
.register_new form .textgroup::after,
.container .cabinets .row::after,
.container .main-section::after {
  content: "";
  clear: both;
  display: table;
}

.manage-users .body .users-list,
.register_new form .actionarea .submit,
.register_new form .actionarea .card-reading,
.container .cabinets,
.container .main-section .info-panel,
.manage-users .body .search-area .search-btn,
.recharge_card .action-panel.active .submit,
.recharge_card .card_reading .card_reading-btn,
.container .main-section .action-panel .list-users,
.container .main-section .action-panel .recharge-btn,
.container .main-section .action-panel .register-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

.manage-users .body .search-area .search-btn,
.recharge_card .action-panel.active .submit,
.recharge_card .card_reading .card_reading-btn,
.container .main-section .action-panel .list-users,
.container .main-section .action-panel .recharge-btn,
.container .main-section .action-panel .register-btn {
  display: block;
  border-radius: 0.7rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 8px 12px 15px;
  text-align: center;
  margin-bottom: 7px;
}

.manage-users .body .search-area .search-btn:active,
.recharge_card .action-panel.active .submit:active,
.recharge_card .card_reading .card_reading-btn:active,
.container .main-section .action-panel .list-users:active,
.container .main-section .action-panel .recharge-btn:active,
.container .main-section .action-panel .register-btn:active {
  opacity: 0.7;
  cursor: pointer;
}

.recharge_card .card_reading .card_reading-btn,
.container .main-section .action-panel .register-btn {
  background-color: #d482a0;
}

.container .main-section .action-panel .recharge-btn {
  background-color: #5fab99;
}

.container .main-section .action-panel .list-users {
  background-color: #ab905f;
}

.container {
  width: 640px;
  margin: 0 auto;
}

.container .main-section {
  width: 100%;
  height: 256px;
  background-color: white;
  padding: 7px 0px;
}

.container .main-section .info-panel {
  width: 210px;
  border-left: 2px solid #dedede;
  height: 100%;
  float: right;
  text-align: center;
}

.container .main-section .info-panel > p {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.container .main-section .info-panel h3 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container .main-section .info-panel h3.date {
  color: #0b651e;
}

.container .main-section .info-panel h3.date .day {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 7px;
}

.container .main-section .info-panel h3.date .tarikh {
  display: block;
  font-size: 1.6rem;
}

.container .main-section .info-panel h3.time {
  color: blue;
  font-size: 1.8rem;
}

.container .main-section .info-panel h3.time span {
  font-size: 1rem;
}

.container .main-section .info-panel .trained {
  margin-top: 30px;
  padding-left: 10px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
}

.container .main-section .info-panel .trained::before {
  padding-right: 5px;
  margin-top: 3px;
  content: "\62A\645\631\6CC\646   \6A9\631\62F\647   \647\627   :";
  display: block;
  float: right;
  font-size: 0.9rem;
  color: #555;
}

.container .main-section .info-panel .registered {
  padding-left: 10px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
}

.container .main-section .info-panel .registered::before {
  padding-right: 5px;
  margin-top: 3px;
  content: "\62B\628\62A\200C\646\627\645\6CC\200C\647\627\6CC   \627\645\631\648\632";
  display: block;
  float: right;
  font-size: 0.9rem;
  color: #555;
}

.container .main-section .action-panel {
  padding: 10px 15px;
  width: 230px;
  border-left: 2px solid #dedede;
  height: 100%;
  float: right;
}

.container .main-section .action-panel > a {
  text-decoration: none;
}

.container .main-section .log-panel {
  width: 200px;
  height: 100%;
  float: right;
}

.container .main-section .log-panel .form .command-box {
  direction: ltr;
}

.container .cabinets {
  width: 100%;
  height: 160px;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.2);
}

.container .cabinets .row {
  width: 100%;
  height: 74px;
}

.container .cabinets .row:nth-child(2) {
  margin-top: 4px;
}

.container .cabinets .row section.cabinet {
  float: left;
  width: 36px;
  height: 74px;
  margin-left: 3px;
  background-color: white;
  position: relative;
}

.container .cabinets .row section.cabinet > label {
  background-color: #4d8c4d;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin: 8px auto;
  display: block;
  width: 25px;
  border-radius: 20px;
  height: 25px;
  line-height: 25px;
}

.container .cabinets .row section.cabinet > label.active {
  background-color: #d482a0;
}

.container .cabinets .row section.cabinet::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #888;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  left: 3px;
}

.register_new .header {
  background-color: #dfdfdf;
  padding: 5px 0 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #507a9a;
  margin-bottom: 20px;
}

.register_new .header a.back {
  display: block;
  float: left;
  font-size: 0.9rem;
  color: #777;
  padding: 10px 10px 15px 10px;
  margin-top: -5px;
}

.register_new .header a.back:hover,
.register_new .header a.back:active {
  background-color: #bbb;
}

.register_new form .textgroup {
  display: block;
  float: right;
  width: 320px;
  margin-bottom: 10px;
}

.register_new form .textgroup label {
  display: block;
  width: 90px;
  float: right;
  color: #555;
  padding-top: 6px;
  font-size: 0.9rem;
  padding-right: 5px;
}

.register_new form .textgroup input[type=text] {
  border: 1px solid #bbb;
  padding: 3px 7px 3px 0;
  font-size: 1.4rem;
  display: block;
  float: right;
  width: 230px;
}

.register_new form .textareagroup {
  display: block;
  float: right;
  width: 320px;
  margin-bottom: 10px;
}

.register_new form .textareagroup label {
  display: block;
  color: #555;
  font-size: 0.9rem;
  padding-right: 5px;
  padding-bottom: 5px;
}

.register_new form .textareagroup textarea {
  border: 1px solid #bbb;
  padding: 3px 7px 3px 0;
  font-size: 1rem;
  display: block;
  float: right;
  width: 320px;
  resize: none;
  height: 100px;
}

.register_new form .actionarea {
  float: left;
  width: 320px;
}

.register_new form .actionarea .card-reading {
  float: right;
  width: 150px;
  background-color: #ddd;
  color: #666;
  margin-right: 15px;
  text-align: center;
  padding: 10px 0 0 0;
  height: 43px;
  border-radius: 8px;
}

.register_new form .actionarea .card-reading.set {
  background-color: #65c1c1;
  color: white;
}

.register_new form .actionarea .card-reading:active {
  background-color: #bbb;
  cursor: pointer;
}

.register_new form .actionarea .submit {
  float: left;
  background-color: #4c904c;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  border: none;
  min-width: 100px;
}

.recharge_card .header {
  background-color: #dfdfdf;
  padding: 5px 0 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #507a9a;
  margin-bottom: 10px;
}

.recharge_card .header a.back {
  display: block;
  float: left;
  font-size: 0.9rem;
  color: #777;
  padding: 10px 10px 15px 10px;
  margin-top: -5px;
}

.recharge_card .header a.back:hover,
.recharge_card .header a.back:active {
  background-color: #bbb;
}

.recharge_card .card_reading {
  padding: 0 0 10px;
}

.recharge_card .card_reading .card_reading-btn {
  max-width: 300px;
  margin: 0 auto;
}

.recharge_card .info-panel {
  float: right;
  width: 380px;
  position: relative;
}

.recharge_card .info-panel span {
  position: relative;
  display: block;
  width: 290px;
  height: 30px;
  margin-right: 90px;
  border: 1px solid #bbb;
  margin-bottom: 5px;
  text-align: left;
  padding: 4px 0 0 4px;
}

.recharge_card .info-panel span::before {
  color: #666;
  margin-top: 4px;
  display: block;
  min-width: 60px;
  position: absolute;
  right: -80px;
  font-size: 0.85rem;
  top: 2px;
  text-align: right;
}

.recharge_card .info-panel span.name::before {
  content: "\646\627\645   :";
}

.recharge_card .info-panel span.lastname::before {
  content: "\646\627\645\200C\62E\627\646\648\627\62F\6AF\6CC   :";
}

.recharge_card .info-panel span.national_code::before {
  content: "\6A9\62F   \645\644\6CC   :";
}

.recharge_card .info-panel span.address::before {
  content: "\622\62F\631\633   :";
}

.recharge_card .info-panel span.address {
  text-align: right;
}

.recharge_card .info-panel span.mobile_number::before {
  content: "\647\645\631\627\647   :";
}

.recharge_card .info-panel span.telephone::before {
  content: "\62A\644\641\646   \62B\627\628\62A   :";
}

.recharge_card .info-panel span.remain_days::before {
  content: "\628\627\642\6CC   \645\627\646\62F\647   :";
}

.recharge_card .action-panel {
  display: none;
}

.recharge_card .action-panel.active {
  display: block;
  float: right;
  width: 260px;
  text-align: center;
}

.recharge_card .action-panel.active .plans {
  padding-right: 5px 10px;
  width: 200px;
  font-size: 1.1rem;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
}

.recharge_card .action-panel.active .submit {
  display: inline-block;
  width: 150px;
  border: none;
  background-color: #388e53;
}

.recharge_card .action-panel.active .today {
  padding: 5px 10px;
  width: 200px;
  font-size: 1.3rem;
  text-align: center;
  height: 40px;
  margin-bottom: 50px;
}

.cabinet-status .header {
  position: relative;
  background-color: #dfdfdf;
  padding: 5px 0 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #507a9a;
  margin-bottom: 10px;
}

.cabinet-status .header a.back {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.9rem;
  color: #777;
  padding: 10px 10px 15px 10px;
}

.cabinet-status .header a.back:hover,
.cabinet-status .header a.back:active {
  background-color: #bbb;
}

.cabinet-status .body h3.title {
  background-color: #e8e8e8;
  text-align: center;
  font-size: 1.3rem;
  margin-top: -10px;
  padding: 10px 0 10px 0;
  color: #b70b0b;
  border-bottom: 2px solid #aaa;
  margin-bottom: 30px;
}

.cabinet-status .body h3.nodata {
  display: block;
  padding: 40px 0 40px;
  text-align: center;
  color: #777;
}

.cabinet-status .body .info .info-line {
  margin-bottom: 1px;
  font-size: 1.3rem;
  padding: 4px 4px 4px 0;
  color: #515163;
}

.cabinet-status .body .info .info-line label {
  display: inline-block;
  padding: 5px 15px 5px 15px;
  font-size: 1rem;
  color: #777;
  background-color: #fff;
  border-radius: 0 0.5rem 0.5rem 0;
}

.cabinet-status .body .info .id {
  background-color: #c8e8cf;
}

.cabinet-status .body .info .name {
  background-color: #b6eeff;
}

.cabinet-status .body .info .entry {
  background-color: #feffb6;
}

.cabinet-status .body .form {
  margin-top: 40px;
}

.cabinet-status .body .form form {
  text-align: center;
  margin-bottom: 15px;
}

.cabinet-status .body .form form input[type=submit] {
  display: inline-block;
  background-color: #b34949;
  border: none;
  width: 180px;
  height: 55px;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cabinet-status .body .form form input[type=submit]:active {
  opacity: 0.7;
  cursor: pointer;
}

.cabinet-status .body .form .open-cabinet input[type=submit] {
  background-color: #2c9674;
}

.manage-users .header {
  position: relative;
  background-color: #dfdfdf;
  padding: 5px 0 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #507a9a;
  margin-bottom: 10px;
}

.manage-users .header a.back {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.9rem;
  color: #777;
  padding: 10px 10px 15px 10px;
}

.manage-users .header a.back:hover,
.manage-users .header a.back:active {
  background-color: #bbb;
}

.manage-users .body .search-area .input-area {
  float: right;
  width: 80%;
  height: 40px;
  margin-bottom: 5px;
}

.manage-users .body .search-area .input-area .input-group {
  float: right;
}

.manage-users .body .search-area .input-area .input-group > label {
  color: #777;
  display: inline-block;
  margin-left: 5px;
  line-height: 14px;
  vertical-align: text-top;
}

.manage-users .body .search-area .input-area .input-group input[type=text] {
  height: 38px;
  border: 1px solid #bbb;
  padding: 3px 5px 1px 2px;
  border-radius: 4px;
  font-size: 1.3rem;
  width: 125px;
}

.manage-users .body .search-area .input-area .input-group .username {
  width: 250px !important;
  margin-left: 15px;
}

.manage-users .body .search-area .search-btn {
  float: left;
  width: 20%;
  height: 40px;
  border-radius: 8px;
  line-height: 18px;
  background-color: #78b1a1;
  font-size: 1.2rem;
}

.manage-users .body .users-list {
  display: block;
  border: 2px solid #dcdcdc;
  margin: 3px;
  padding: 2px 4px;
  height: 270px;
}

.manage-users .body .users-list .user-item {
  position: relative;
  height: 33px;
  border-bottom: 1px solid #bbb;
}

.manage-users .body .users-list .user-item .id {
  float: right;
  color: #555;
  display: inline-block;
  margin-top: 1px;
  border-left: 2px solid #ababab;
  padding-left: 5px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1.2rem;
  width: 60px;
  text-align: left;
}

.manage-users .body .users-list .user-item .info .username {
  display: inline-block;
  font-size: 1.3rem;
  color: #d06377;
  margin-top: 3px;
  font-weight: bold;
}

.manage-users .body .users-list .user-item .info > div {
  color: #aaa;
  display: inline-block;
  font-size: 0.8rem;
  top: 6px;
  position: absolute;
  margin-right: 5px;
}

.manage-users .body .users-list .user-item .info > div .national-code {
  color: #666;
  font-weight: bold;
  font-size: 0.9rem;
}

.manage-users .body .users-list .user-item .info .edit {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.8rem;
  color: #666;
  padding: 6px 14px;
  text-decoration: none;
  margin-top: 2px;
}

.manage-users .body .users-list .user-item .info .edit:active {
  cursor: pointer;
  background-color: #bbb;
}

.manage-users .body .users-list .user-item:last-child {
  border-bottom: none;
}

.manage-users .body .details {
  padding-top: 5px;
}

.manage-users .body .details .pagination {
  padding-right: 10px;
  float: right;
  width: 60%;
}

.manage-users .body .details .pagination > div {
  float: right;
  margin-left: 5px;
}

.manage-users .body .details .pagination .prev a,
.manage-users .body .details .pagination .next a {
  text-align: center;
  display: block;
  width: 65px;
  height: 30px;
  background-color: #aaa;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.95rem;
  padding: 4px 0px;
}

.manage-users .body .details .pagination .prev a:active,
.manage-users .body .details .pagination .next a:active {
  background-color: #919191;
  cursor: pointer;
}

.manage-users .body .details .pagination .current {
  line-height: 26px;
  color: #777;
  margin: 0 10px;
}

.manage-users .body .details .pagination .current .current-page {
  font-weight: bold;
  color: #555;
}

.manage-users .body .details .info {
  padding-left: 10px;
  float: right;
  width: 40%;
  font-size: 0.8rem;
  color: #777;
  text-align: left;
}

.manage-users .body .details .info span.all-pages,
.manage-users .body .details .info span.all-members {
  color: #444;
  font-weight: bold;
}

