@charset "UTF-8";

*,
*:before,
*:after {
  box-sizing: border-box;
  direction: rtl;
  font-family: Tahoma, Arial, "sans serif";
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container .cabinets .row::after,
.container .main-section::after {
  content: "";
  clear: both;
  display: table;
}

.container .cabinets,
.container .main-section .action-panel .list-users,
.container .main-section .action-panel .recharge-btn,
.container .main-section .action-panel .register-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

.container .main-section .action-panel .list-users,
.container .main-section .action-panel .recharge-btn,
.container .main-section .action-panel .register-btn {
  display: block;
  border-radius: 0.7rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 8px 12px 15px;
  text-align: center;
  margin-bottom: 7px;
}

.container .main-section .action-panel .list-users:active,
.container .main-section .action-panel .recharge-btn:active,
.container .main-section .action-panel .register-btn:active {
  opacity: 0.7;
  cursor: pointer;
}

.container .main-section .action-panel .register-btn {
  background-color: #d482a0;
}

.container .main-section .action-panel .recharge-btn {
  background-color: #5fab99;
}

.container .main-section .action-panel .list-users {
  background-color: #ab905f;
}

.container {
  width: 640px;
  margin: 0 auto;
}

.container .main-section {
  width: 100%;
  height: 256px;
  background-color: white;
  padding: 7px 0px;
}

.container .main-section .info-panel {
  width: 210px;
  border-left: 2px solid #dedede;
  height: 100%;
  float: right;
  text-align: center;
}

.container .main-section .info-panel > p {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.container .main-section .info-panel h3 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container .main-section .info-panel h3.date {
  color: #0b651e;
}

.container .main-section .info-panel h3.date .day {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 7px;
}

.container .main-section .info-panel h3.date .tarikh {
  display: block;
  font-size: 1.6rem;
}

.container .main-section .info-panel h3.time {
  color: blue;
  font-size: 1.8rem;
}

.container .main-section .info-panel h3.time span {
  font-size: 1rem;
}

.container .main-section .info-panel .trained {
  margin-top: 30px;
  padding-left: 10px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
}

.container .main-section .info-panel .trained::before {
  padding-right: 5px;
  margin-top: 3px;
  content: "\62A\645\631\6CC\646   \6A9\631\62F\647   \647\627   :";
  display: block;
  float: right;
  font-size: 0.9rem;
  color: #555;
}

.container .main-section .info-panel .registered {
  padding-left: 10px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
}

.container .main-section .info-panel .registered::before {
  padding-right: 5px;
  margin-top: 3px;
  content: "\62B\628\62A\200C\646\627\645\6CC\200C\647\627\6CC   \627\645\631\648\632";
  display: block;
  float: right;
  font-size: 0.9rem;
  color: #555;
}

.container .main-section .action-panel {
  padding: 10px 15px;
  width: 230px;
  border-left: 2px solid #dedede;
  height: 100%;
  float: right;
}

.container .main-section .log-panel {
  width: 200px;
  height: 100%;
  float: right;
}

.container .cabinets {
  width: 100%;
  height: 160px;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.2);
}

.container .cabinets .row {
  width: 100%;
  height: 74px;
}

.container .cabinets .row:nth-child(2) {
  margin-top: 4px;
}

.container .cabinets .row section.cabinet {
  float: left;
  width: 36px;
  height: 74px;
  margin-left: 3px;
  background-color: white;
}

.container .cabinets .row section.cabinet > label {
  background-color: #4d8c4d;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin: 8px auto;
  display: block;
  width: 25px;
  border-radius: 20px;
  height: 25px;
  line-height: 25px;
}

